#compButton_1i {
  border-radius: 10px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

#compButton_1i:hover {
  opacity: 10;
}

#black {
  background-color: black;
  color: white;
}
