.advantagesBlock {
  width: 100%;
  padding: 100px;
}
.advantagesInside {
  display: grid;
  justify-content: left;
}
.advantagesText {
  max-width: 1023px;
  padding-top: 100px;
}
.advantagesText h3 {
  font-weight: 700;
  font-size: 62px;
  margin-bottom: 48px;
}
.advantagesImg {
  display: flex;
  justify-content: left;
  width: 100%;
  padding-top: 80px;
  grid-gap: 88px;
}
.advantagesImgDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.advantagesImgDiv p {
  width: 336px;
  height: 90px;
  font-weight: 400;
  font-size: 20px;
  padding: 0px, 10px;
  line-height: 30px;
}
.advantagesImgDiv img {
  margin-right: 32px;
}
.advantagesImg p {
  border-left: 2px solid #cecece;
  padding-left: 32px;
}
